.form {
  height: 45px;
  width: 99%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #26a9e0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_div {
  width: 95%;
  margin: auto;
  /* margin-left: 50px; */
  /* margin-right: 50px; */
  background-color: #26a9e0;
  height: 70px;
  display: flex;
  align-items: center;
}

.form_div {
  min-width: 200px;
  margin: auto;
  margin-right: 32px;
  margin-left: 16px;
  width: 80%;
  border-radius: 6px;
  background-color: white;
}

.header_search__button_icon {
  fill: white;
  height: 30px;
  width: 30px;
}

.input {
  border: none;
  width: 95%;
  margin: auto;
  height: 25px;
  font-size: 20px;
  outline: 0;
}

.header_search__button {
  align-items: center;
  border: none;
  background-color: var(--ultramarine-500);
  border-radius: 4px;
  display: flex;
  height: 36px;
  cursor: pointer;
  justify-content: center;
  background-color: #1c6e91;
  transition: background-color 0.3s ease;
  width: 36px;
}

.header_search__button:hover {
  background-color: #1a566f;
}

.cart {
  transition-duration: 300ms;
  fill: white;
  margin-right: 0em;
}

.cart:hover {
  transition-duration: 300ms;
  fill: rgb(223, 217, 217);
}

.plus {
  transition-duration: 300ms;
  stroke: white;
}

.plus:hover {
  transition-duration: 300ms;
  stroke: rgb(223, 217, 217);
}

.categories_button {
  transition-duration: 300ms;
  cursor: pointer;
  background-color: #1c6e91;
  display: flex;
  align-items: center;
  color: white;
  height: 45px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
}

.categories_button:hover {
  transition-duration: 300ms;
  background-color: #1a566f;
}

.links_div {
  min-width: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.site_logo {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.a {
  text-decoration: none;
  color: white;
}

.profile {
  stroke: white;
}

.profile:hover {
  transition-duration: 300ms;
  stroke: rgb(223, 217, 217);
}

@media screen and (max-width: 570px) {
  .form_div {
    display: none;
  }
}
